@charset "UTF-8";
/* CSS Document */

html, body{
    height: 100%;
    width: 100%;
    margin: 0;  /*余白の削除*/
    padding: 40px 0 40px 0; /*余白の削除*/
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

header {
position: fixed;	/* 位置固定 */
top: 0px;	/* 上下位置決定 */ 
left: 0px;	/* 左右位置決定 */ 
width: 100%;	/* 横幅指定 */
height: 35px;	/* 高さ指定 */
padding: 10px;	/* 余白指定(上下左右) */
background-color: #31a9ee;	/*背景色指定*/
color: #000000;	/* フォント色指定 */
}	

ul {
  display: flex;
  /*justify-content: space-between;*/
}
li {
  list-style-type: none;
  color: #000;
  flex-grow: 0.5;
  text-align: center;
}
li + li {
  border-left: 1px solid #000;
}




footer {
    position: fixed; /*位置固定*/
    bottom: 0px; /*上下位置決定*/
    left: 0px;  /*左右位置決定*/
    width: 100%;  /*横幅決定*/
    height: 40px;  /*高さ決定*/
    padding: 10px;  /*余白指定（上下左右)*/
    background-color: #31a9ee; /*背景色指定*/
    color: #000000; /*フォント色指定*/
    
}